.player{
    border-radius: 10%;
    border-bottom: 1px solid gray;
    box-shadow: 3px 3px 5px #888888;
    padding-top: 4%;
    background-color: rgba(255, 255, 255, 0.143);
    text-align: center;
}
