
.GameDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "gameMainDispayDiv gameMainDispayDiv";
}
.GameForm {
    border-bottom: 1px solid gray;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    border-right: 1px solid gray;
    box-shadow: 3px 3px 5px #888888;
    padding-top: 4%;
    background-color: rgba(33, 172, 72, 0.555);
}

.gameMainDispayDiv{
    margin: 3%;
    grid-area: gameMainDispayDiv;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "userListDiv " " chatDiv ";
}

#chatDiv{
    grid-area: chatDiv;
    
    display: flex;
    flex-direction: column-reverse;
    height: 59vh;
    overflow: auto;
    padding: 1%;
}

#userListDiv{
    grid-area: userListDiv;
    padding: 2%;
    margin-left: 2%;
}

@media (max-width : 440px) {
    
    #chatDiv{
        height: 55vh;
    }

}



