.LoginForm {
    border-bottom: 1px solid gray;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    border-right: 1px solid gray;
    box-shadow: 3px 3px 5px #888888;
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.555);
    opacity: 90%;

    animation-duration: 3s;
    animation: slidein .7s ease-in;
}
#monopolbankImage{
    height: 35%;
    width: 55%;
    margin-left: 20%;

}
.LoginError {
    box-shadow: 3px 3px 5px #888888;
    padding: 14px;
    width: 50%;
    background-color: rgba(255, 0, 0, 0.177);
    opacity: 90%;

    animation-duration: 3s;
    animation: slidein .7s ease-in;
}

@keyframes slidein {
    0%{transform: skewX(53deg) translateX(-500px); opacity: 0;}
    60%{transform: translateX(0px);}
    62%{transform: skewX(0deg) translateX(30px);}
    70%{transform: skew(-20deg);}
    80%{transform: skew(0deg) translate(0);}
    90%{transform: skew(-5deg);}
    100%{transform: skew(0deg);}
}

@media (max-width : 440px) {

    #monopolbankImage{
        height: 45%;
        width: 65%;
        margin-left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    
    }
}
