p {
    text-align: center;
}
h1 {
    text-align: center;
}
.App {
    text-align: center;
}

#AppJumbotron {
    background-color: rgba(255, 255, 255, 0);
    opacity: 90%; 
} 
body{
    font-family: 'Alike Angular';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("./Images/background_1.jpg");
} 
