
.transaction{
    display: grid;
    grid-template-columns: 12px 1fr;
    grid-template-rows: 20px 1fr;
    margin-bottom: 2%;
    
}

.transactionImage{
    background-color: deeppink;
    grid-row-start: 1;
    grid-row-end: 3;
}

.transactionHeader{
    margin-left: 0.5%;
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.transactionBody{
    margin-left: 0.5%;
}
.transactionTitle{
    color: rgba(0, 0, 0, 0.387);
}
